  body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;

  background: linear-gradient(-45deg, #020617, #1e3a8a, #0ea5e9, #ff0000);
  background-size: 400% 400%;
  animation: bg 6s ease infinite;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

/* Navbar */
   <nav>
  <h1 class="logo">⚡ Prince.dev</h1>

  <ul class="nav-links">
    <li><a href="#home">Home</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
/* RIGHT SIDE MENU */
.nav-links {
  display: flex !important;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

/* LINKS STYLE */
.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #38bdf8;
  text-shadow: 0 0 10px #38bdf8;
}

/* LOGO */
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #38bdf8;
  text-shadow: 0 0 10px #38bdf8;
}
/* WhatsApp */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #25D366;
  color: white;
  padding: 15px;
  border-radius: 50%;
}
